.ThirdSectionContainer {
  color: black;
  background-color: #d9d9d9;
  padding: 1.5em;
  text-align: center;
}

.ThirdSectionContainer > * {
  margin-bottom: 1em;
}

.ThirdSectionContainer img {
  width: 50%;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .ThirdSectionContainer {
    height: 100vh;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
  }

  .TextContainer {
    width: 75%;
    text-align: start;
  }
}
