.firstSectionContainer {
  background-color: #2563eb;
  padding: 1.5em;
}

.firstSectionContainer > * {
  margin-bottom: 1em;
}

.firstSectionContainer button {
  background-color: white;
  border-radius: 8px;
  color: #2563eb;
  width: 50%;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  border: solid 2px white;
  transition: background-color 0.3s ease;
}

.firstSectionContainer button:hover {
  background-color: transparent;
  color: white;
}

.textContainer > *{
  margin-bottom: 1em;
}

.firstSectionContainer img {
  width: 75%;
  border-radius: 4px;
  transform: translateX(-20px);
  transition: opacity .7s ease-out, transform .7s ease-out;
}

@media (min-width: 768px) {
  .firstSectionContainer {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .textContainer > * {
    margin-bottom: 1em;
  }
}
