.OpinionContainer {
  color: black;
  text-align: center;
  padding: 1em;
  margin: 1em;
}

.CardContainer {
  text-align: start;
}

@media (min-width: 768px) {
  .OpinionContainer {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .CardContainer {
    display: flex;
    gap: 1em;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
}
