.ServicesContainer {
  color: black;
  text-align: center;
  padding: 1em;
  margin: 1em;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CardsContainer {
  text-align: start;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

@media (min-width: 768px) {
  .CardsContainer {
    display: flex;
    gap: 1em;
    margin: auto;
  }
}
